<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item" aria-current="page"><a href="javascript:;" routerLink="/main/employeelist">Employee List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Employee Entry</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <a type="button" class="btn btn-light"  routerLink="/main/employeelist" >Back</a>
        </div>
    </div>
</div>
<div class="card border-top border-0 border-4 border-white">
    <div class="card-body p-5">
        <div class="card-title d-flex align-items-center">
            <div><i class="bx bxs-user me-1 font-22 text-white"></i>
            </div>
            <h5 class="mb-0 text-white">{{pageTitle}}</h5>
        </div>
        <hr>
        <form class="row g-3" [formGroup]="employeeEntryForm" novalidate>
            <div class="col-md-6">
                <label for="inputName"  class="form-label">Employee Name</label>
                <input type="text" class="form-control" formControlName="empName" id="inputName">
            </div>
            <div class="col-md-6">
                <label for="inputEmpId" class="form-label">Employee Id</label>
                <input type="text" class="form-control" formControlName="empId" id="inputEmpId">
            </div>
            <div class="col-md-6">
                <label for="inputDob" class="form-label">Date Of Birth</label>
                <input type="date" class="form-control" formControlName="dob" id="inputDob">
            </div>
            <div class="col-md-6">
                <label for="inputJDate" class="form-label">Joining Date</label>
                <input type="date" class="form-control" formControlName="joiningDate" id="inputJDate">
            </div>
            <div class="col-12">
                <label for="inputRemarks" class="form-label">Remarks</label>
                <textarea class="form-control" id="inputRemarks" formControlName="remarks" placeholder="Remarks" rows="3"></textarea>
            </div>
            <div class="col-md-4">
                <label for="inputRole" class="form-label">Role</label>
                <select id="inputRole" formControlName="role" class="form-select">
                    <option selected hidden>Choose...</option>
                    <option [value]="2">Sub Admin</option>
                    <option [value]="3">Employee</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputStatus" class="form-label">Status</label>
                <select id="inputStatus" formControlName="status" class="form-select">
                    <option selected hidden>Choose...</option>
                    <option [value]="2">Completed</option>
                    <option [value]="1">Live</option>
                    <option [value]="0">End</option>
                </select>
            </div>
          
        
            <div class="col-12">
                <button type="submit" class="btn btn-light px-5" (click)="sendData()">{{ActionbuttonText}} </button>
                <button type="submit" class="btn btn-light ms-2 px-5" *ngIf="!editEmployeeId" (click)="clear()">Clear </button>
            </div>
        </form>
    </div>
</div>