<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="assets/logo_raads.png" class="logo-icon" alt="logo icon">
        </div>
        <!-- <div>
            <h4 class="logo-text">Dashtrans</h4>
        </div> -->
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" routerLink="/main/dashboard">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Application</div>
            </a>
            <ul>
                <li> <a href="javascript:;" routerLink="/main/customerlist"><i class="bx bx-right-arrow-alt"></i>Customers</a>
                </li>
                <li> <a href="javascript:;" routerLink="/main/projectlist"><i class="bx bx-right-arrow-alt"></i>Projects</a>
                </li>
                <li> <a href="javascript:;" routerLink="/main/productlist"><i class="bx bx-right-arrow-alt"></i>Products</a>
                </li>
                <li> <a href="javascript:;" routerLink="/main/vendorlist"><i class="bx bx-right-arrow-alt"></i>Vendors</a>
                </li>
                <li> <a href="javascript:;" routerLink="/main/employeelist"><i class="bx bx-right-arrow-alt"></i>Employee</a>
                </li>
                <li> <a href="javascript:;" routerLink="/main/purchaselist"><i class="bx bx-right-arrow-alt"></i>Purchase History</a>
                </li>
                <li> <a href="javascript:;" routerLink="/"><i class="bx bx-right-arrow-alt"></i>Notifications</a>
                </li>
               
            </ul>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->